body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(../images/mars.jpeg) no-repeat center center fixed;
    background-size: cover;
    width: 100%;
    height: 100%;
}
html{
    font-size: 62.5%;
}

.header {
    float: left;
    font-size: 4rem;
    padding: 13px 0;
    border-bottom: 6px solid ;
}

.login {
    width:400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(255, 255, 255, .9);
}

.textBox {
    width: 100%;
    overflow: hidden;
    font-size: 2rem;
    padding: 8px 0 ;
    border-bottom: 1px solid rgba(255, 255, 255, .9);
}

.textBox i {
    width: 26px;
    float: left;
    text-align: center;
}

.textBox input {
    border: none;
    outline: none;
    background: none;
    color: rgba(255, 255, 255, .9);
    font-size: 2rem;
    width: 80%;
    float: left;
    margin: 0 10px;
}

#eyeSlash {
    position: relative;
    width: 15px;
    height: 15px;
}

.btn {
    width: 100%;
    background: none;
    border: 2px solid rgba(255, 255, 255, .9);
    border-radius: 8px;
    padding: 5px;
    font-size: 2rem;
    cursor: pointer;
    margin: 12px 0;
    color: rgba(0, 0, 0, .9);
    animation: hideme 10s ease-in-out;
}


@keyframes hideme {
    0% {
        opacity: 0;
    }
    50% {
        opacity: .5;
    }
    100% {
        opacity: 1;
        border: 2px solid rgba(238, 238, 0, 1);
        color: rgba(238, 238, 0, 1);
    }
}



